.section {
    width: 800px;
    height: 435px;
    display: flex;

}

@media (max-width: 768px) {
    .section {
        width: 350px;
        height: 600px;
    }

    .comentario {
        font-size: 15px;
    }

}